# --- Day 1: Sonar Sweep ---

In [72]:
import pandas as pd
from IPython.core.display import display, HTML

In [82]:
df = pd.read_csv("data/input.csv", header=None)
df = df.diff(periods=1)
df.head()

      0
0   NaN
1 -28.0
2   7.0
3  12.0
4   7.0

In [83]:
df  = df.dropna()
df.head()

      0
1 -28.0
2   7.0
3  12.0
4   7.0
5  -9.0

In [84]:
df[df < 0] = 0
df[df > 0] = 1
df = df.astype(int)
df.head()

   0
1  0
2  1
3  1
4  1
5  0

In [85]:
result = df.sum().squeeze()
display(HTML('<h1>{}</h1>'.format(result)))